/*
*********************************
COLUMN
*********************************
*/
.column{
    width: 1000px;
    min-width: 1000px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -490px;
    background-color: #fff;
}
.column .banner_top{
    height: 90px;
    width: 100%;
}
.column .banner_bottom{
    height: 301px;
    width: 100%;
}
/*
*********************************
MENU
*********************************
*/
.login_enter{
    font-family: 'Open Sans';
    font-weight: 600;    
    font-size: 13px;
    color: rgb( 58, 57, 57 );
}
.column .block_menu{
    width: 100%;
    height: 77px;
}
.column .block_menu img{
    position: relative;
    top: 5px;
}
.column .block_menu div{
    width: 150px;
    height: 77px;
    float: left;
    margin-left: 3px;
}
.column .block_menu .menu{
    width: 585px;
    height: 77px;
    position: relative;
    left:100px
}
.column .block_menu .menu span{
    height: 77px;
    float: left;
    line-height: 77px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #848484;
    padding-right: 50px;
}

.column .block_menu .menu span:hover{
    color: #6bc43f;
    cursor: pointer;
}
.column .block_menu .menu span + span{
    font-family: 'Open Sans';
    font-weight: 400;
}
.column .block_menu .menu a{
    text-decoration: none;
}

.column .block_menu .enter{
    width: 150px;
    height: 77px;
    float: right;
    cursor: pointer;
}
.column .block_menu .enter a{
    text-decoration: none;
}
.column .block_menu .enter span{
    width: 124px;
    height: 77px;
    float:right;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size:12px;
    color:#6bc43f;
    line-height: 77px;
}
.column .block_menu .enter img{
    float:left;
    position: relative;
    top:26px;
}
.content a{
    text-decoration: none;
}
/*
*********************************
SEARCH -> pop_up
*********************************
*/

.bg_map_search{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index:30;
    display: none;
}
.bg_map_search div{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.bg_map_search .bg{
    width: 1000px;
    height: 518px;
    margin:auto;
    position:absolute;
    left:0;right:0;top:0;bottom:0;
}
.bg_map_search .bg{
    float:left;
    width: 1000px;
    height: 670px;
    background-color: #f8c92b;
}
.bg_map_search .bg .left{
    float:left;
    width: 300px;
    height: 640px;
    background-color: #f8c92b;
    float:left;
}
.bg_map_search .bg .left .work_space{
    /*    width: 460px;
        height: 478px;
        position: relative;
        top:20px;
        left:20px;
        float:left;*/
}
/* ������ � �� ������ ������� */
.bg_map_search .bg .left .work_space .layer_1{
    /*    height: 55px;
        width: 100%;*/
}
.bg_map_search .bg .left .work_space .layer_1 input{
    width: 100%;
    height: 30px;
    padding-top: 0;
    /*
        position: relative;
        left: 6px;*/

    border-top:3px solid #ebebeb;
    border-left:2px solid #ebebeb;
    padding-left: 5px;
    background-color: #FFF;
    border-bottom: 1px;
    border-right: 1px;
}
.bg_map_search .bg .left .work_space .layer_1 input::-ms-clear {
    display: none;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_1{
    width: 106px;
    height: 30px;
    background-color: #e1a218;
    border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    position: relative;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_2{
    height: 27px;
    width: 104px;
    background-color: #eeac1a;
    border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    position: relative;
    top: 3px;
    left: 2px;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_2 span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:16px;
    color:#fff;
    position: relative;
    top: 5px;
    left: 15px;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_1_1{
    width: 106px;
    height: 30px;
    background-color: #f8c92b;
    border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    position: relative;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_2_2{
    height: 27px;
    width: 104px;
    background-color: #f8c92b;
    border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    position: relative;
    top: 3px;
    left: 2px;
}
.bg_map_search .bg .left .work_space .layer_1 .button_M_laier_2_2 span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:16px;
    color:#fff;
    position: relative;
    top: 5px;
    left: 15px;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_2{
    height: 75px;
    width: 100%;
}
.bg_map_search .bg .left .work_space .layer_2 .metro{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color:#3a3939;
    position:relative;
    left: 21px;
    top: -9px;
}
.bg_map_search .bg .left .work_space .layer_2 .text_1{
    position: absolute;
    left: 222px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #3A3939;
}
.bg_map_search .bg .left .work_space .layer_2 .text_1 span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 11px;
    color: #3A3939;
}
.bg_map_search .bg .left .work_space .layer_2 input{
    width:176px;
    height:24px;
    padding-top: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    position:relative;
    top: 19px;
    left: -24px;
    border-top:3px solid #ebebeb;
    border-left:2px solid #ebebeb;
    padding-left: 5px;
    background-color: #FFF;
    border-bottom: 1px;
    border-right: 1px;
}
.bg_map_search .bg .left .work_space .layer_2 input::-ms-clear {
    display: none;
}
.bg_map_search .bg .left .work_space .layer_2 .block_move{
    position: absolute;
    left: 216px;
    top: 0px;
    height: 71px;
    width: 150px;
}
.bg_map_search .bg .left .work_space .layer_2 .radio_block{
    float: right;
    position: relative;
    top: 5px;
    left: 4px;
}
.bg_map_search .bg .left .work_space .layer_2 .radio_block div{
    height: 23px;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_2 .radio_block img{
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_2 .radio_block span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    color: #3A3939;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.bg_map_search .bg .left .work_space .layer_3{
    /*    height: 142px;
        width: 100%;*/
    /*background-color: #f4bb27;*/
}
.bg_plashka {
    background-color: #f4bb27;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1{
    /*    height: 100%;
        width: 291px;
        float:left;*/
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .title_1{
    /*    font-family: 'Open Sans';
        font-weight: 600;
        font-size: 13px;
        color: #3A3939;
        position: relative;
        top: 15px;
        left: 16px;
        width: 100%;
        display: block;*/
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .title_2{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    position: relative;
    /*    top: 35px;
        left: 16px;
        width: 100%;*/
    display: block;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    color: #3A3939;
    position: relative;
    top: 13px;
    float: left;
    margin-left: 4px;
    margin-right: 10px;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .img{
    position: relative;
    top: 12px;
    float: left;
    cursor: pointer;
    width: 13px;
    height: 13px;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .div{
    /*    width: 10px;
        float: left;*/
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block{
    height: 50px;
    position:relative;
    /*    left: 17px;
        top: 20px;*/
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .select_face_1{
    width: 79px;
    height: 24px;
    border-top:3px solid #ebebeb;
    border-left:3px solid #ebebeb;
    background-color: #fff;
    position: relative;
    left: 0px;
    top: 0px;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_1 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_1 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .select_face_1_1{
    width: 130px;
    height: 24px;
    border-top:3px solid #ebebeb;
    border-left:3px solid #ebebeb;
    background-color: #fff;
    position: relative;
    left: 0px;
    top: 0px;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_1_1 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_1_1 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1{
    width: 79px;
    height: 200px;
    position: absolute;
    left: 2.5px;
    top: 27px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1 td:hover{
    color: #000;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1_1{
    width: 130px;
    height: 177px;
    position: absolute;
    left: 2.5px;
    top: 27px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1_1 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_1_1 td:hover{
    color: #000;
}

.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .select_face_2{
    width: 180px;
    height: 24px;
    border-top:3px solid #ebebeb;
    border-left:3px solid #ebebeb;
    background-color: #fff;
    position: relative;
    left: 5px;
    top: 0px;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_2 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_2 span{
    line-height: 1;
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8d8d8d;
    width: 142px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: hidden;
    height: 16px;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_1 .line_select_block .select_face_2_2{
    width: 130px;
    height: 24px;
    border-top:3px solid #ebebeb;
    border-left:3px solid #ebebeb;
    background-color: #fff;
    position: relative;
    left: 5px;
    top: 0px;
    float:left;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_2_2 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}


.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_face_2_2 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_2{
    width: 180px;
    height: 200px;
    position: absolute;
    left: 89.5px;
    top: 27px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_2 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_2_2{
    width: 130px;
    max-height: 200px;
    height: auto;
    position: absolute;
    left: 140.5px;
    top: 27px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.bg_map_search .bg .left .work_space .layer_3  .sub_layer_1_1 .line_select_block .select_body_2_2 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}


.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_2{
    height: 100%;
    width: 157px;
    float: right;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_2 .floats{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    position: relative;
    top: 17px;
    left: 7px;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_2 .full_area{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    position: relative;
    left: 7px;
    top: 20px;
}
.bg_map_search .bg .left .work_space .layer_3 .sub_layer_1_2 .block_move{
    left: 216px;
    top: 0px;
    height: 47px;
    width: 150px;
}
.bg_map_search .bg .left .work_space .layer_4{
    height: 89px;
    width: 100%;
}
.bg_map_search .bg .left .work_space .layer_4 .floats{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    position: relative;
    top: 17px;
    left: 7px;
}
.bg_map_search .bg .left .work_space .layer_4 .floats span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 10px;
    color: #3A3939;
}
.bg_map_search .bg .left .work_space .layer_4 .full_area{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    position: relative;
    left: 7px;
    top: 20px;
}
.bg_map_search .bg .left .work_space .layer_4 .full_area span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 10px;
    color: #3A3939;
}
.bg_map_search .bg .left .work_space .layer_4 .block_move_left{
    left: -10px;
    top: 25px;
    height: 47px;
    width: 150px;
    position: relative;
    float: left;
}
.bg_map_search .bg .left .work_space .layer_4 .block_move_right{
    right: 118px;
    top: 6px;
    height: 47px;
    width: 150px;
    position: relative;
    float: right;
}

.bg_map_search .bg .left .work_space .layer_5{
    height: 69px;
    width: 100%;
}
.bg_map_search .bg .left .work_space .layer_5 .title_1{
    width: 206px;
    /*    position: relative;
        left: 17px;
        top: 15px;*/
    /*    font-family: 'Open Sans';
        font-weight: 600;
        font-size: 13px;
        color: #3A3939;
        margin-bottom: 10px;
        display: block;*/
}
.bg_map_search .bg .left .work_space .layer_5 .title_2{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: #3A3939;
    float: left;
    position: relative;
    left: 17px;
    top: 15px;
}


.bg_map_search .bg .left .work_space .layer_6 .button_bg{
    width: 154px;
    height: 46px;
    background-color: #4A9724;
    /*    position: absolute;
        bottom: -6px;
        left: 162px;*/
    border-radius: 5px;
    margin: 0 auto;
}
.bg_map_search .bg .left .work_space .layer_6 .button_bg .button_face{
    width: 100%;
    height: 41px;
    background-color: #61b836;
    cursor: pointer;
    border-radius: 5px;
}
.bg_map_search .bg .left .work_space .layer_6 .button_bg .button_face span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 41px;
}
.bg_map_search .bg .left .work_space .layer_6 .button_bg .button_face:active{
    height: 44px;
}



.bg_map_search .bg .left .work_space .layer_5 .select_face_3 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: hidden;
    height: 16px;
    width: 110px;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_4 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_5 span{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:11px;
    color: #8d8d8d;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_3 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_4 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_5 img{
    float: right;
    position: relative;
    top: 6px;
    right: 6px;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_3{
    width: 140px;
    height: 24px;
    border-top: 3px solid #EBEBEB;
    border-left: 3px solid #EBEBEB;
    background-color: #FFF;
    /*    position: relative;
        top: 35px;
        left: -261px;
        float: left;*/
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_4{
    width: 108px;
    height: 24px;
    border-top: 3px solid #EBEBEB;
    border-left: 3px solid #EBEBEB;
    background-color: #FFF;
    position: relative;
    right: 126px;
    float: right;
    top: 7px;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_5 .select_face_5{
    width: 108px;
    height: 24px;
    border-top: 3px solid #EBEBEB;
    border-left: 3px solid #EBEBEB;
    background-color: #FFF;
    position: relative;
    right: -110px;
    float: right;
    cursor: pointer;
    top: 6px;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_3{
    width: 143px;
    height: 76px;
    position: absolute;
    /*    left: 20.5px;
        bottom: -21px;*/
    background-color: #FFF;
    /*z-index: 20;*/
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    border: 2px solid #eee;
    box-sizing: border-box;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_4{
    width: 108px;
    height: 99px;
    position: absolute;
    left: 225.5px;
    bottom: -43px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_5{
    width: 108px;
    height: 200px;
    position: absolute;
    right: 1px;
    bottom: -143px;
    background-color: #FFF;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_3 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}

.bg_map_search .bg .left .work_space .layer_5 .select_body_4 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_5 td{
    float: left;
    position: relative;
    top: 6px;
    left: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: #8D8D8D;
    cursor: pointer;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_3 td:hover{
    color: #000;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_4 td:hover{
    color: #000;
}
.bg_map_search .bg .left .work_space .layer_5 .select_body_5 td:hover{
    color: #000;
}

.bg_map_search .bg .left .work_space .layer_6{
    height: 68px;
    width: 100%;
}

/* КАРТА */
.bg_map_search .bg .right{
    float:right;
    height: 670px;
    width: 700px;
    background-color: #fff;
}
.bg_map_search .bg .right .bg_exit{
    width: 52px; 
    height:52px;
    background-color: #c93a3a;
    position: absolute;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
}
.bg_map_search .bg .right .bg_exit img{
    position: relative;
    top: 16px;
    left: 16px;
    cursor: pointer;
}
/* END */

/*
*********************************
END
*********************************
*/










.content{
    float:left;
    width:590px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgb( 132, 132, 132 );
    line-height: 1.5;
}
.content p{
    margin: 24px 0;
}
/* RIGHT MENU */
.specification{
    float:left;
    width:170px;
}
/* RIGHT MENU  END */



