/* 
    Created on : 19.08.2016, 22:00:08
    Author     : Valery Shusharin <shusharin_valery@mail.ru>
*/

$main_width: 578px;
$width: 1000px;
$sb_left: 240px;
$sb_right: 150px;
$sb_margin: 13px;

/*$color_green: #74c84a;*/
/*$color_gray: #848484;*/
/*$color_gray_light: #e3e3e3;*/
$color_black: #4c4a4a;

$color_yellow: #f8c92b;
$color_yellow_light: #fff59b;
$color_yellow_dark: #f4bb27;
$color_green: #61b836;
$color_green_dark: #007b0c;
$color_red: #8e2d1a; 
$color_gray: #a7a7a7;
$color_gray_light: #e5e5e5;
$color_gray_dark: #3a3939;
$color_gray_darkness: #797979;

$color_text_main: #2e2e2e;
$text_main_size: 14px;
$link_color: $color_green;
