/* 
    Created on : 06.02.2017, 2:23:25
    Author     : Valery
*/
.col-20  {
    width: 20%;
    float: left;
}
.col-25  {
    width: 25%;
    float: left;
}
.col-30 {
    width: 30%;
    float: left;
}
.col-33 {
    width: 33.3333%;
    float: left;
}
.col-35 {
    width: 35%;
    float: left;
}
.col-40 {
    width: 40%;
    float: left;
}
.col-50 {
    width: 50%;
    float: left;
}
.col-60 {
    width: 60%;
    float: left;
}
.col-65 {
    width: 65%;
    float: left;
}
.col-70 {
    width: 70%;
    float: left;
}
.col-80 {
    width: 80%;
    float: left;
}
