/* 
    Created on : 15.12.2016, 8:09:27
    Author     : Valery Shusharin <shusharin_valery@mail.ru>
*/

$green: #62cb31;
$yellow: #ffb606;
$red: #e74c3c;
$blue: #3498db;
$blue-dark: #245269;
$black: #34495e;

$primary: #34495e;
